apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: glance
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-staging
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - glance.simeonivanov.org
      secretName: glance-tls
  rules:
    - host: glance.simeonivanov.org
      http:
        paths:
          - backend:
              service:
                name: glance
                port:
                  number: 8080
            path: /
            pathType: Prefix
