apiVersion: apps/v1
kind: Deployment
metadata:
  name: glance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: glance

  template:
    metadata:
      labels:
        app: glance

    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 2000

      containers:
        - name: glance
          image: glanceapp/glance:v0.8.4

          ports:
            - containerPort: 8080
              protocol: TCP

          volumeMounts:
            - name: glance-config
              mountPath: /app/config
              readOnly: true

          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 128Mi

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop:
                - ALL

      volumes:
        - name: glance-config
          configMap:
            name: glance-config
