provider:
  name: cloudflare

domainFilters:
  - simeonivanov.org

policy: upsert-only

sources:
  - service
  - ingress
  - gateway-httproute

env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-token
        key: token
