apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - repository.yaml
  - release.yaml
  - snapshot.yaml
  - auth-secret.yaml
  - auth-middleware.yaml
  - ingress.yaml
