apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: longhorn-system
resources:
  - namespace.yaml
  - repository.yaml
  - release.yaml
  # Recurring jobs will be added after Longhorn is installed
  # - recurring-jobs/snapshot-daily.yaml
