apiVersion: "cilium.io/v2alpha1"
kind: CiliumL2AnnouncementPolicy
metadata:
  name: apps-policy
  namespace: kube-system
spec:
  serviceSelector:
    matchLabels:
      cilium-lb-pool: apps-pool
  loadBalancerIPs: true
