apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  template:
    spec:
      containers:
        - name: linkding
          envFrom:
            - secretRef:
                name: linkding-container-env
            - secretRef:
                name: linkding-database
