apiVersion: v1
kind: Service
metadata:
  name: pgadmin
  namespace: pgadmin
  labels:
    app: pgadmin
    app.kubernetes.io/name: pgadmin
    app.kubernetes.io/instance: pgadmin
spec:
  selector:
    app: pgadmin
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
