apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "80.x"
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring
      interval: 12h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  driftDetection:
    mode: enabled
    ignore:
      # Ignore "validated" annotation which is not inserted during install
      - paths: ["/metadata/annotations/prometheus-operator-validated"]
        target:
          kind: PrometheusRule
  values:
    grafana:
      admin:
        existingSecret: grafana-admin-secret
        userKey: admin-user
        passwordKey: admin-password
      ingress:
        enabled: true

        ingressClassName: traefik

        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-staging

        ## Hostnames.
        ## Must be provided if Ingress is enable.
        ##
        hosts:
          - grafana.simeonivanov.org

        ## TLS configuration for grafana Ingress
        ## Certificate will be automatically created by cert-manager
        ##
        tls:
          - secretName: grafana-tls
            hosts:
              - grafana.simeonivanov.org
