apiVersion: apps/v1
kind: Deployment
metadata:
  name: commafeed
  labels:
    app: commafeed
    app.kubernetes.io/name: commafeed
    app.kubernetes.io/instance: commafeed
    app.kubernetes.io/component: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: commafeed
  template:
    metadata:
      labels:
        app: commafeed
        app.kubernetes.io/name: commafeed
        app.kubernetes.io/instance: commafeed
        app.kubernetes.io/component: web
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 3000
        fsGroup: 2000
      containers:
      - name: commafeed
        image: athou/commafeed:6.1.1-postgresql
        securityContext:
          allowPrivilegeEscalation: false
        envFrom:
        - configMapRef:
            name: commafeed-configmap
        - secretRef:
            name: commafeed-container-env
        ports:
        - containerPort: 8082
          protocol: TCP
